<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="/static/css/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {padding: 12px;}
.w3-navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
</style>
<head>
    <title>Login</title>
</head>
<body>
        <div class="w3-top">
        <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large">
                <li><a href="#" class="w3-theme-l1">Login</a></li>
        </ul>
        </div>

        <div class="w3-main" style="max-width:800px">
            <div class="w3-row w3-padding-64">
                <form class="w3-container" name="LoginForm" action="/login/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                    <label class="w3-label for="username">Username</label>
                    <input class="w3-input w3-border" type="text" id="username" name="username"  placeholder="Username">

                    <label class="w3-label for="password">Password</label>
                    <input class="w3-input w3-border" type="password" name="password" id="password" placeholder="Password">

                <br/><button class="w3-btn w3-teal w3-round" type="submit" class="btn">Login</button>
                </form>
        </div>
        </div>
</body>
</html>