{% load index %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="/static/css/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {padding: 12px;}
.w3-navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
</style>
<head>
    <title>Dobble!</title>
</head>
<body>
<div class="w3-top">
        <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large">
                <li class="w3-opennav w3-right w3-hide-large">
                    <a class="w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
                </li>
                <li><a href="#" class="w3-theme-l1">Dobble</a></li>
        </ul>
        </div>

    <!-- Sidenav -->
        <nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:51px;" id="mySidenav">
          <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
            <i class="fa fa-remove"></i>
          </a>
          <h4><b>Menu</b></h4>
            <a href="{% url 'dobble:players'%}">Players</a>
            <a href="{% url 'dobble:game'%}">Game</a>
            <a href="{% url 'dobble:game'%}">Conclusion</a>
            <a href="{% url 'home:index'%}">Exit App</a>
            <a href="/accounts/logout/">Logout</a>
        </nav>
        <!-- Overlay effect when opening sidenav on small screens -->
        <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px;max-width:800px">
    <div class="w3-row w3-padding-64">
        <h1>Dobble!</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <table class="w3-table w3-bordered w3-hoverable" style="display: block;overflow-x: auto;">
            <tr>
                <th></th>
                {% for x in playerrange %}
                <th>{{players|index:forloop.counter0}}</th>
                {% endfor %}
                <th/>

            </tr>
                <form action="{% url 'dobble:updateScores'%}" method="post" id="cards">
            {% csrf_token %}
            {% for s in scores %}
            <tr>
                <td>Round {{s.1.round}}</td>
                {% for p in s %}
                    <td><input name="{{p.player.name}},{{p.round}}" id="{{p.player.name}},{{p.round}}" value="{{p.cards}}{%if p.tiebreak == True %}*{% endif %}{%if p.tiebreak2 == True %}**{% endif %}" style="max-width:50px"/></td>
                {% endfor %}
                <td>
                    <select form="cards" name="Minigame{{s.1.round}}" id="Minigame{{p.round}}">
                  <option value="1" {%if s.1.minigame == 1 %}selected{% endif %}>The Towering Inferno</option>
                  <option value="2" {%if s.1.minigame == 2 %}selected{% endif %}>The Well</option>
                  <option value="3" {%if s.1.minigame == 3 %}selected{% endif %}>The Poisoned Gift</option>
                  <option value="4" {%if s.1.minigame == 4 %}selected{% endif %}>The Hot Potato</option>
                  <option value="5" {%if s.1.minigame == 5 %}selected{% endif %}>Gotta Catch Them All</option>
                    </select>
                </td>
            </tr>
            {% endfor %}

        </table>
            <input class="w3-btn w3-teal w3-round" type="submit" value="Update Scores"/>
                </form>

            </br>
            </br>

            <h1>Scores</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <table class="w3-table w3-bordered w3-hoverable" style="display: block;overflow-x: auto;">

            <tr>
                <th></th>
                {% for x in playerrange %}
                <th>{{players|index:forloop.counter0}}</th>
                {% endfor %}

            </tr>
                <form action="{% url 'dobble:updateScores'%}" method="post">
            {% csrf_token %}
            {% for s in scores %}
            <tr>
                <td>Round {{s.1.round}}</td>
                {% for p in s %}
                    <td>{{p.score}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                 <td>Total</td>
                {% for x in playerrange %}
                <td>{{players|total:forloop.counter0}}</td>
                {% endfor %}
            </tr>

        </table>
    </div>
</div>
<script>
// Get the Sidenav
var mySidenav = document.getElementById("mySidenav");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidenav, and add overlay effect
function w3_open() {
    if (mySidenav.style.display === 'block') {
        mySidenav.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidenav.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidenav with the close button
function w3_close() {
    mySidenav.style.display = "none";
    overlayBg.style.display = "none";
}
</script>
</body>
</html>