{% load index %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="/static/css/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {padding: 12px;}
.w3-navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
</style>
<head>
    <title>Dobble!</title>
</head>
<body>
<div class="w3-top">
        <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large">
                <li class="w3-opennav w3-right w3-hide-large">
                    <a class="w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
                </li>
                <li><a href="#" class="w3-theme-l1">Dobble</a></li>
        </ul>
        </div>

    <!-- Sidenav -->
        <nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:51px;" id="mySidenav">
          <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
            <i class="fa fa-remove"></i>
          </a>
          <h4><b>Menu</b></h4>
            <a href="{% url 'dobble:players'%}">Players</a>
            <a href="{% url 'dobble:game'%}">Game</a>
            <a href="{% url 'dobble:game'%}">Conclusion</a>
            <a href="{% url 'home:index'%}">Exit App</a>
            <a href="/accounts/logout/">Logout</a>
        </nav>
        <!-- Overlay effect when opening sidenav on small screens -->
        <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px;max-width:800px">
                <div class="w3-row w3-padding-64">


    <h1 class="w3-text-teal">Add players </h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form class="w3-container" action="{% url 'dobble:addPlayer'%}" method="post">
        {% csrf_token %}
        <input class="w3-btn w3-btn-floating w3-teal" type="submit" value="+"/>    <br/>
    </form>
                    <form class="w3-container" action="{% url 'dobble:removePlayer'%}" method="post">
        {% csrf_token %}
        <input class="w3-btn w3-btn-floating w3-teal" type="submit" value="-"/>    <br/>
    </form>
    <form class="w3-container"action="{% url 'dobble:savePlayers'%}" method="post">
        {% for x in range %}
        {% csrf_token %}
        <label class="w3-label" for="name{{x}}">Player {{x}} </label>
        <input class="w3-input w3-border" type="string" name="name{{x}}" id="name{{x}}" value="{{players|index:forloop.counter0}}"/><br/>
        {% if notice %}<p>{{ notice }}</p>{% endif %}
        {% endfor %}
        <input class="w3-btn w3-teal w3-round" type="submit" value="Save"/>    <br/>
    </form>



    <h1 class="w3-text-teal">Add rounds</h1>
    <p>Number of rounds: {{game.number_of_rounds}}</p>
    <form class="w3-container" action="{% url 'dobble:addRound'%}" method="post">
        {% csrf_token %}
        <input class="w3-btn w3-btn-floating w3-teal" type="submit" value="+"/>    <br/>
    </form>
    <form class="w3-container" action="{% url 'dobble:subtractRound'%}" method="post">
        {% csrf_token %}
        <input class="w3-btn w3-btn-floating w3-teal" type="submit" value="-"/>    <br/>
    </form>

     <form class="w3-container" action="{% url 'dobble:reset'%}" method="post">
        {% csrf_token %}
        <input class="w3-btn w3-teal" type="submit" value="Reset"/>    <br/>
    </form>
    </div>
</div>
<script>
// Get the Sidenav
var mySidenav = document.getElementById("mySidenav");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidenav, and add overlay effect
function w3_open() {
    if (mySidenav.style.display === 'block') {
        mySidenav.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidenav.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidenav with the close button
function w3_close() {
    mySidenav.style.display = "none";
    overlayBg.style.display = "none";
}
</script>
</body>
</html>